$primary-color:#fafafa;
$white-color:#ffffff;
$border-color:#633CFF;
$padding:0 24px;
$light-grey: #eeeeee;
$extra-light-color: #FAFAFA;
$dark-grey:#333333;
$grey:#737373;
$light-purple:#EFEBFF;
$purple:#633CFF;

